.heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hook {
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.wisconsin {
  position: relative;
}

.wisconsin > img {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
  width: 75px;
}
