.navContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  overflow: hidden;
}

.link {
  position: relative;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-bottom: 0.5rem;
  text-align: right;
  color: #fff;
  font-family: "Bitcount Single", sans-serif;
  font-size: 2rem;
  font-weight: 250;
  text-decoration: unset;
}

.link::after {
  position: absolute;
  bottom: 1.3rem;
  display: block;
  content: "-----------------";
  letter-spacing: -10px;
  width: 100%;
  height: 0.2rem;
  text-wrap-mode: nowrap;
  transform-origin: right;
  transform: scaleX(0%);
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-in-out;
}

.link.active::after,
.link:hover::after,
.link:focus::after {
  transform: scaleX(100%);
}

.navContainer:has(.link:hover, .link:focus)
  > .link:not(:hover, :focus).active::after {
  opacity: 0.5;
}

@media (min-width: 800px) {
  .link {
    font-size: 3rem;
  }

  .link::after {
    letter-spacing: -15px;
    bottom: 1.8rem;
  }
}
